@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Honk&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

@theme {
  /*FONTS:*/
  --font-honk:"Honk", serif;
  --font-orbitron:"Orbitron", serif;
  --font-bangers: "Bangers", serif;
  --font-bungee: "Bungee", sans-serif;
  --font-quicksand: "Quicksand", serif;
  --font-vt323: "VT323", serif;
  --font-pixel:"Press Start 2P";
  --font-oswald: "Oswald";
  --font-roboto-condensed:"Roboto Condensed";
  --font-zilla-slab: "Zilla Slab";
  /*COLORS*/
  --color-oxford-blue: #05032B;
  --color-vista-blue: #7F97D5;
  --color-african-violet: #A872AC;
  --color-aquamarine: #85FFDC;
  --color-icterine: #FFFA74;
}

@font-face {
  font-family: "Cosmic Space";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/CosmicSpace.ttf") format("truetype")
}

.font-cosmic-space {
  font-family: "Cosmic Space";
}


@font-face {
  font-family: "Space Garden";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/SpaceGarden.otf") format("opentype")
}

.font-space-garden {
  font-family: "Space Garden";
}

@font-face {
  font-family: "Space Time Regular";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/SpaceTimeRegular.ttf") format("truetype")
}

.font-space-time-regular {
  font-family: "Space Time Regular";
}

@font-face {
  font-family: "Starjedi";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/Starjedi.ttf") format("truetype")
}

.font-starjedi {
  font-family: "Starjedi";
}

@font-face {
  font-family: "Starjhol";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/Starjhol.ttf") format("truetype")
}

.font-starjhol {
  font-family: "Starjhol";
}

@font-face {
  font-family: "Starjout";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/Starjout.ttf") format("truetype")
}

.font-starjout {
  font-family: "Starjout";
}

@font-face {
  font-family: "STJEDISE";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/STJEDISE.ttf") format("truetype")
}

.font-stjedise {
  font-family: "STJEDISE";
}

@font-face {
  font-family: "Led";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/Led.ttf") format("truetype")
}

.font-led {
  font-family: "Led";
}

@font-face {
  font-family: "1up";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/1up.ttf") format("truetype")
}

.font-1up {
  font-family: "1up";
}

@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400; /* Ajoutez un poids par défaut */
  src:
    url("/src/assets/fonts/Impact.ttf") format("truetype")
}

.font-impact {
  font-family: "Impact";
}

.paw-cursor {
  cursor:url("/assets/paw-cursor.png") 16 16, auto;
}

.container {
    margin: 40px; /* Ajuste la marge extérieure */
    padding: 20px; /* Ajoute de l'espace autour du contenu */
}

.passion-detail {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.timeline-section {
  position: relative;
  overflow: hidden;
  transform: none;
}

.timeline-svg {
  transform: none;
  padding:10px;
  width:100vw;
  height:auto;

}

.background-container {
  background: url('/assets/space-galaxy-background.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  overflow: hidden;
  filter: grayscale(100%); /* Convertit l'image en nuances de gris */
  animation: bgAnimation 60s infinite linear;
  top: 0;
  left: 0;
  width: 100dvw;
  height:100dvh;
  z-index: -1; /* Fond sous les planètes */
}

@keyframes bgAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.planets-container circle {
  animation: rotate 5s linear infinite;
  position : absolute;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(3px) rotate(0deg); /* Position initiale */
  }
  100% {
    transform: rotate(360deg) translateX(3px) rotate(-360deg); /* Rotation complète */
  }
}

@media (max-width: 640px) {
  
  .timeline-svg {
    transform: rotate(90deg) scale(1.8);
    transform-origin: center;
    overflow: hidden;
    padding:10px;
    position: relative;
    
  }

  .timeline-svg svg {
    width: 105vw;
    height: 130vh;
    padding:10px;
    overflow:hidden;
  }

  .timeline-svg text {
    transform: rotate(-90deg) scale(1.4);
    transform-origin: center center;
    transform-box: fill-box;
  }

  .cursor-small {
    width: 30px;
    height: auto;
  }
}

/* Style pour mobile */
@media (max-width: 640px) {
  .formation-card-mobile {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    border-radius: 0;
    padding: 2rem;
  }
}

.bg-asfalt {
  background-image: url('/assets/asfalt.png');
  background-size: 200px 200px;
  background-color: #a872acec;
}

.border-3d {
  border-width: 6px;
  border-color: #fffa74a2; /* Couleur principale */
  box-shadow: 
    0 0 0 2px var(--color-gray-500) inset, /* Ombre interne */
    0 4px 0 var(--color-gray-500), /* Ombre en bas */
    4px 0 0 var(--color-gray-500), /* Ombre à droite */
    0 4px 0 var(--color-gray-900), /* Profondeur supplémentaire en bas */
    4px 0 0 var(--color-gray-900); /* Profondeur supplémentaire à droite */
}

.retro-border {
  border: 3px solid transparent;
  background-clip: padding-box;
  background-origin: border-box;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5),
    0 0 8px rgba(255, 233, 105, 0.8),
    0 0 15px rgba(43, 205, 226, 0.6);
}